.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 8px 16px;
  background: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  border: 3px solid #ffffff;
  // margin-top: -12px;
  // margin-left: -12px;
  // margin-right: -12px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.logo-text {
  font-size: 48px;
  font-weight: bolder;
}

.tagline {
  font-size: 18px;
  color: #555;
}

.favorites-btn {
  padding: 8px 12px;
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.15s;

  &:hover {
    background: #cccccc;
  }
}
